header{
    background-color:black;
    color:wheat;
}
table{
    background-color:rgb(10, 10, 10);
    margin-top: 0;
    border: solid rgb(4, 4, 4) 5px;
}
body{
    border: solid black 5px;

}

